<div class="container">
  <div>
    <h1>Quotes</h1>
    <h4>This is a simple application to show and hide components by clicking on a button</h4>
  </div>
</div>


<div class="container">
  <div class="center">
    <button (click) = "toggleQ1()" class="btn btn-info m-3">Quote 1</button>
    <button (click) = "toggleQ2()" class="btn btn-info m-3">Quote 2</button>
    <button (click) = "toggleQ3()" class="btn btn-info m-3">Quote 3</button>
    <button (click) = "toggleQ4()" class="btn btn-info m-3">Quote 4</button>
  </div>
</div>


<div class="container">
  <div *ngIf="q1 == true">
    <app-quote1></app-quote1>
  </div>

  <div *ngIf="q2 == true">
    <app-quote2></app-quote2>
  </div>

  <div *ngIf="q3 == true">
    <app-quote3></app-quote3>
  </div>

  <div *ngIf="q4 == true">
    <app-quote4></app-quote4>
  </div>

</div>
